*{
    box-sizing: border-box;
   }
   html {
        margin: 0;
        padding: 0;
        font-family: serif;
        font-size: 62.5%; 
   }  
  
  body {
   background-color: #BBDFA3;
  }
    h1,h2,p,li{
      font-family: cursive;
      color:#194522;
  
  } 
  h2 {
    color: #fff;
  }
  p{
      font-size: 1.8rem;
  }

   h2.Curso {
       text-align: center;
       font-size: 3rem;
   }
  
    a{
  
      text-decoration: none;
      font-size: 2em;
      color: #194522;
  } 
  ul li {
      font-size: 0.6em; 
      width: 80%;
      height: 3rem; 
  }
    form div {
  
      background: #fff;
      border: 1px solid #194522;
       margin: 1rem 2rem;
       padding: 1rem;
       background-color:#DFD770 ;
       font-size: 1.6rem;
  }
  
   label {
  
       margin-bottom: 0.5rem;
       font-size: 1.2em;
       font-family: inherit;
       font-weight: lighter;
       color: #194522;
   }
  
   input {
        padding: 1rem;
        font-family: fantasy sans-serif;
   }
   
   [type="text"] ,[type="email"] ,textarea ,label {	
       width: 100%;
       display: block;
  
  }
  header {
    background-image: url(../imagens/images-sementes.jpg);
    padding: 3rem;
    text-align: center;
    font-size: 4rem;  
  
  }
  
    nav {
     
      text-align: center;
      float: left;
      width:30%;
      background-color: #BBDFA3;
      height: 98rem;
   
      
   
      
    }
  .nav02{
    list-style-type: none;
    width: 20rem;
   
    
  
  
  }
  nav ul{
    list-style-type: none;
    background-color: #BBDFA3;
  }
  .coluna {
    display: block;
    width: 33%;
    float: left;
    height: auto;
   
   /*background: #eee;  
    border: 1px solid #333; */

  }
  .coluna-3{

    columns: 100px 2;
    width: 30%;

  }
  .coluna-cor {
    background-color: #DFD770;
  }
  iframe{
    width: 100%;
  }
  .coluna-100w {
    width: 100;
    height: 50%;

  }
   img {
    max-width: 100%;
    height: auto;
 
  }
  article {
    float: left;
    width: 70%;
    height: 98rem;
    background-color: #BBDFA3;
    
  } /*mobile First */

    /* Tablet */
    @media{min-width: 769px}{
      body {
        background-color: teal;
        color: #fff;

      }
    }
    @media{ max-width: 768px}{
      nav{
        width: 30vw;
      }
      article{
        width: 70vw;
      }
    }

    @media {max-whidt: 425px} {
      nav,
      article,
      .coluna[
        width: 100%;
        min-width:320px;
      ]
    }
       
  footer {
    background-color: #194522 ;
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: monospace;
  }        